<div id="myNav" class="overlay" *ngIf="menuSlider">

  <a href="javascript:void(0)" class="closebtn" (click) = "navClicked()">&times;</a>

  <div class="overlay-content">
      <a (click)="restartGame()">Restart Game</a>
  </div>

</div>

 <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <div class="navbar-header">
          <img class="rounded" src="/assets/icons/clock_icon-icons.com_64879.png" width="50" height="50" alt="">
          <a class="navbar-brand" href="#"><h2>Time Hunter</h2></a>
          <span style="font-size:30px;cursor:pointer" (click) = "navClicked()">&#9776;</span>
        </div>

      <a class="navbar-brand" href="#">
      </a>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
        </ul>
      </div>
    </div>
  </nav>

  <div class="container p-3">
    <noscript>
      <h3 style="color: #673ab7; font-family: Helvetica; margin: 2rem;">
        Sorry, but app is not available without javascript
      </h3>
    </noscript>
  </div>





<div #gmap style="width:100%;height:400px"></div>
<button *ngIf="debug" (click)="targetMarkerClicked()" type="button" class="btn btn-primary">Primary</button>
