<div id="myNav" class="overlay" *ngIf="menuSlider">

  <a href="javascript:void(0)" class="closebtn" (click) = "navClicked()">&times;</a>

  <div class="overlay-content">
      <a (click)="restartGame()">Restart Game</a>
  </div>

</div>


<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container">
    <a class="navbar-brand">
        <img class="rounded" src="/assets/icons/TimeHunter_Logo.png" width="90" height="90" alt="">
    </a>

    <button (click) = "navClicked()" class="navbar-toggler d-block" type="button" >
        <span class="navbar-toggler-icon"></span>
      </button>

    </div>
  </nav>


  <div class="container p-3">
    <noscript>
      <h3 style="color: #673ab7; font-family: Helvetica; margin: 2rem;">
        Sorry, but app is not available without javascript
      </h3>
    </noscript>
  </div>

  <div class="container p-3">
    <div #gmap style="width:100%;height:400px"></div>
    <button *ngIf="debug" (click)="targetMarkerClicked()" type="button" class="btn btn-primary">Ziel erreichen</button>
    <button *ngIf="debug" (click)="blankMarkerClicked()" type="button" class="btn btn-secondary">Niete erreichen</button>
  </div>

