<div class="container p-3">
  <form (ngSubmit)="onSubmit()" #gameForm="ngForm">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name"  [(ngModel)]="model.name" name="name"  #name="ngModel" required>
          <div [hidden]="name.valid || name.pristine"
              class="alert alert-danger">
            Name is required
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div #gmap style="width:100%;height:400px"></div>
      </div>
    </div>
    <div class="row">
        <div class="col-12">
          <button type="submit" class="btn btn-primary" [disabled]="!gameForm.form.valid">Spiel anlegen</button>
        </div>
      </div>
  </form>
</div>
